{% extends "index_head.html" %}
{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    
    {% for filed in form %}
    <div class="form-group row">
        <label class="col-sm-2">{{ filed.label }}</label>
        <div class="col-sm-10">
            {{ filed }}
            <!-- 提示字段错误信息进行验证 -->
            <div style="color: red;">{{ filed.errors }}</div>
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">修改用户</button>
</form>
{% endblock %}